div#root{
    position:relative;

    width:100vw;
    max-width: 100%;
    height:100vh;
    max-height: 100%;

    background-size: 100% 100%;
}

div#root div.custom {
    width:100%;
    height:100%;
        
    display:flex;
    justify-content: center;
    align-items: center;
}

div#root div.custom div.background{
    background-image:url("./assets/images/rainy.png");
    filter:grayscale(70%);
    width:100vw;
    max-width: 100%;
    height:100vh;
    max-height: 100%;
    position:absolute;
    z-index:1;
}

div#root div.custom div.MusicSection {
    width:700px;
    height:700px;

    position:relative;

    display:flex;
    justify-content: center;
    align-items: center;

    z-index:100;
}

div#root div.custom div.MusicSection div.music{
    position:absolute;
    background-color: darkslategrey;

    width:150px;
    height:150px;
    background-size: 150px 150px;

    border: white 5px solid;
    border-radius: 50%;

    display:flex;
    justify-content: center;
    align-items: center;

    transition:1s;
}


div#root div.custom div.MusicSection div.music:hover{
    width:180px;
    height:180px;
    background-size: 180px 180px;
}

div#root div.custom div.MusicSection div.music:nth-child(1) {
    top:0px;
    background-image:url("./assets/images/sushine.png");
}
div#root div.custom div.MusicSection div.music:nth-child(1):hover {
    top:-15px;
}
div#root div.custom div.MusicSection div.music:nth-child(2) {
    top:100px;
    right:100px;
    background-image:url("./assets/images/valley.png");
}
div#root div.custom div.MusicSection div.music:nth-child(2):hover {
    top:85px;
    right:85px;
}
div#root div.custom div.MusicSection div.music:nth-child(3) {
    right:0px;
    background-image:url("./assets/images/ocean.png");
}
div#root div.custom div.MusicSection div.music:nth-child(3):hover {
    right:-15px;
}
div#root div.custom div.MusicSection div.music:nth-child(4) {
    right:100px;
    bottom:100px;
    background-image:url("./assets/images/rainy.png");
}
div#root div.custom div.MusicSection div.music:nth-child(4):hover {
    right:85px;
    bottom:85px;
}
div#root div.custom div.MusicSection div.music:nth-child(5) {
    bottom:0px;    
    background-image:url("./assets/images/fallingLeaves.png");
}
div#root div.custom div.MusicSection div.music:nth-child(5):hover {
    bottom:-15px;    
}
div#root div.custom div.MusicSection div.music:nth-child(6) {
    left:100px;
    bottom:100px;
    background-image:url("./assets/images/city.png");
}
div#root div.custom div.MusicSection div.music:nth-child(6):hover {
    left:85px;
    bottom:85px;
}
div#root div.custom div.MusicSection div.music:nth-child(7) {
    left:0px;    
    background-image:url("./assets/images/snowy.png");
}
div#root div.custom div.MusicSection div.music:nth-child(7):hover {
    left:-15px;    
}
div#root div.custom div.MusicSection div.music:nth-child(8) {
    left:100px;
    top:100px;
    background-image:url("./assets/images/campfire.png");
}
div#root div.custom div.MusicSection div.music:nth-child(8):hover {
    left:85px;
    top:85px;
}


div#root div.custom div.MusicSection div.music svg {
    font-size:50px;
    color:white;
    display:none;
    cursor:pointer;
}

div#root div.custom div.Music-Player {
    position:absolute;
    z-index: 300;

    left:0px;
    bottom:20px;
}

div#root div.custom div.Music-Player div.Music-Player-Btns {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div#root div.custom div.Music-Player div.Music-Player-Btns svg{
    font-size:30px;
    color:white;

    margin-left:20px;
    cursor:pointer;
}